# Build results
out/
build/
cmake-build-*/

# CMake
CMakeUserPresets.json
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

# vcpkg
vcpkg_installed/

# Visual Studio
.vs/

# MSVC intermediates
*.pdb
*.ilk
*.idb
*.iobj
*.ipdb
*.pch
*.exp
*.tlog
*.res

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Secrets
.env
*.env
